
@font-face {
    font-family: 'montserrathairline';
    src: url('../fonts/montserrat-hairline/montserrat-hairline-webfont.woff2') format('woff2'),
         url('../fonts/montserrat-hairline/montserrat-hairline-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'montserratregular';
    src: url('../fonts/montserrat-regular/montserrat-regular.woff2') format('woff2'),
         url('../fonts/montserrat-regular/montserrat-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montserratsemibold';
    src: url('../fonts/montserrat-semibold/montserrat-semibold.woff2') format('woff2'),
         url('../fonts/montserrat-semibold/montserrat-semibold.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'montserratmedium';
    src: url('../fonts/montserrat-medium/montserrat-medium.woff2') format('woff2'),
         url('../fonts/montserrat-medium/montserrat-medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'montserratlight';
    src: url('../fonts/montserrat-lgt/montserrat-light-webfont.woff2') format('woff2'),
         url('../fonts/montserrat-lgt/montserrat-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}